.vote-area{
    background-color: var(--bg-primary-colder-color);
    width: fit-content;
    border-radius: 16px;
}

/*.upvote:hover{*/
/*    color: #d93a00*/
/*}*/

/*.downvote:hover{*/
/*    color: #6a5cff*/
/*}*/

.vote-area button{
    outline: none;
    border: none;
    background: transparent;
}

.vote-area button:hover .upvote{
    color: #d93a00
}

.vote-area button:hover .downvote{
    color: #6a5cff
}