.entire-post-container{
    width: 30%;
}



@media all and (min-width: 768px) and (max-width: 1024px) {
    .post-card{
        width: 40%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .post-card{
        width: 50%;
    }
}

.post-card{
    width: 100%;
}

.comments-box{
    margin-top: 2em;
    width: 100%;
}
