.vote-area{
    --up-arrow-color: #d93a00;
    --down-arrow-color: #6a5cff;
}

.vote-area{
    background-color: var(--bg-primary-colder-color);
    width: fit-content;
    border-radius: 16px;
}

.vote-area button{
    outline: none;
    border: none;
    background: transparent;
}

.vote-area button:hover .upvote{
    color: var(--up-arrow-color)
}

.vote-area button:hover .downvote{
    color: var(--down-arrow-color)
}