@page "/"
@using BlazorWASM.Pages.Components
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navManager


<AuthorizeView>
    <Authorized>
        <div class="create-post">
            <button class="primary-button d-flex align-items-center" style="padding: 5px 10px 5px 0;"
                    @onclick="CreatePost">
                <span style="font-size: 1.6em; margin: 0 10px;" class="fa fa-plus fa-beat"></span>
                Create post
            </button>
        </div>
        <Posts/>
    </Authorized>
    <NotAuthorized>
        <LoginView/>
    </NotAuthorized>
</AuthorizeView>

@code {

    private IEnumerable<Post>? posts;
    
    
    
    private async Task CreatePost()
    {
        navManager.NavigateTo("/CreateNewPost");
    }
}
@* Todo: write home page for reddit *@