


.post-card{
    display: block;
    border-radius: 16px;
    width: 35%;
    padding: 1em;
    margin: 1em 1em 0;
    color: var(--text-primary-color);
    user-select: none;
    text-wrap: normal;
    white-space: normal;
    word-wrap: break-word;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .6s ease;
}


.post-card:hover{
    background-color: white;
    backface-visibility: hidden;
    transform: scale(1.05) translateZ(0);
    transition: all .6s ease;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .post-card{
        width: 45%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .post-card{
        width: 55%;
    }
}

@media all and (max-width: 480px) {
    .post-card{
        width: 60%;
    }
}
