


.post-card{
    display: block;
    border-radius: 16px;
    background-color: transparent;
    width: 35%;
    padding: 1em;
    margin: 1em 1em 0;
    color: var(--text-primary-color);
    user-select: none;
    text-wrap: normal;
    white-space: normal;
    word-wrap: break-word;
    cursor: pointer;
}

.post-card:hover{
    background-color: var(--accent-primary-color);
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .post-card{
        width: 45%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .post-card{
        width: 55%;
    }
}

@media all and (max-width: 480px) {
    .post-card{
        width: 60%;
    }
}
